h1{
    color:rgb(23, 83, 83);
    text-align:center ;
}
p{
    border:3px;
    border-style: solid;
    border-color:rgb(79, 191, 19);
}

#head2{
    color:rgb(50, 96, 96);
    text-align:center ;
}

th,td,table{
    border-color: rgb(19, 57, 2);
}
.class2{
    background-color: rgb(2, 57, 41);
    border:2px;
    margin: 20px 10px 5px 2px;
    padding: 5px;
}
img{
    margin-left: 30px;
}